/************************/
/*ESTILO PARA EL HEADER*/
/**********************/
.navbar {
    padding: 0;
    margin: 0;
    position: fixed;

    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-item {
    position: relative;
    width: 100px;
    text-align: center;
}

.nav-item a {
    color: #000;
}

.container-fluid {
    background-color: #8BC34A;
}

.container-fluid img {
    height: 50px;
    width: 140px;
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer;
}

.container-fluid a:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

.container-fluid a.active {
    border-radius: 10px;
    background-color: white;
    color: black;
}

.dropdown-menu-end {
    right: 0;
}

.dropdown-menu {
    top: calc(100% + 10px);
    overflow-y: auto;
    max-height: 200px;
}