<app-nav-jefes></app-nav-jefes>

<main>
    <div class="align-text-center d-flex flex-column align-items-center">
        <div class="d-flex align-items-center">
            <img src="assets/images/Triangulos.png" alt="Imagen de bienvenida" width="130" height="90">
            <h1 class="ml-3">BIENVENIDO</h1>
        </div>
        <div class="search-button mt-3">
            <div class="search">
                <input type="text" class="form-control" placeholder="Buscar..." (keyup)="buscarPorMatricula($event)">
            </div>
            <i class=""></i>
        </div>
    </div>
    <div class="header_fixed">
        <table>
            <thead>
                <tr>
                    <th colspan="8" style="text-align: center; font-size: 24px;">Compendio de Casos</th>
                </tr>
                <tr>
                    <th>MATRICULA</th>
                    <th>NOMBRE COMPLETO</th>
                    <th>CARRERA</th>
                    <th>TIPO DE CASO</th>
                    <th>EVIDENCIA</th>
                    <th>ESTADO</th>
                    <th>MOTIVOS</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let alumno of Alumno">
                    <td>{{ alumno.matricula }}</td>
                    <td>{{ alumno.nombreCom }}</td>
                    <td>{{ alumno.carrera }}</td>
                    <td>{{ alumno.casoTipo }}</td>
                    <td>
                        <button (click)="verPDF(alumno.pdfPath)">Ver PDF</button>
                    </td>
                    <td>{{ alumno.casoEsta }}</td>
                    <td>
                        <div class="botones-container">
                            <button class="info" (click)="mostrarInformacion(alumno)">
                                <i class="material-icons">message</i>
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="botones-container">
                            <button class="Aceptar" (click)="aceptarAlumnoJefe(alumno._id, alumno.nombreCom)"
                                [disabled]="alumno.casoEsta === 'Aceptado Comi' || alumno.casoEsta === 'Rechazado Comi'">
                                <i class="material-icons">check_circle</i>
                            </button>
                            <button class="rechazar" (click)="rechazarSolicitudAlumno(alumno._id, alumno.nombreCom)"
                                [disabled]="alumno.casoEsta === 'Aceptado Comi' || alumno.casoEsta === 'Rechazado Comi'">
                                <i class="material-icons">cancel</i>
                            </button>
                            <button class="pape" (click)="moverAlumnoAlReciclaje(alumno._id)"
                                [disabled]="alumno.casoEsta === 'Aceptado Comi' || alumno.casoEsta === 'Rechazado Comi'">
                                <i class="material-icons">delete</i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>

<app-footer></app-footer>
