<app-nav-administrador></app-nav-administrador>

<main>
    <div>
        <h1 class="icon-heading">
            <i class="fas fa-user-tag"></i> ROLES
        </h1>
    </div> 
    <div class="header_fixed">
        <table *ngIf="!selectedRole && !showAddForm">
            <thead>
                <tr>
                    <th>ID Rol</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr *ngFor="let role of roles">
                    <td>{{ role.id_rol }}</td>
                    <td>{{ role.nombreRol }}</td>
                    <td>
                        <button class="custom-button editar-button editar" (click)="editarRol(role)"><i
                                class="fas fa-pencil-alt"></i></button>
                        <button class="custom-button editar-button eliminar" (click)="eliminarRol(role._id)"><i
                                class="fas fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
 
        <div *ngIf="selectedRole" class="container mt-4">
            <form (ngSubmit)="guardarCambios()" class="card p-4">
                <h2 class="text-center mb-4">Editar Rol</h2>

                <div class="mb-3">
                    <label for="idRol" class="form-label">ID Rol:</label>
                    <input id="idRol" type="number" [(ngModel)]="selectedRole.id_rol" name="idRol" class="form-control"
                        required>
                </div>

                <div class="mb-3">
                    <label for="roleName" class="form-label">Rol:</label>
                    <input id="roleName" type="text" [(ngModel)]="selectedRole.nombreRol" name="roleName"
                        class="form-control" required>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    <button type="button" class="btn btn-secondary" (click)="cancelarEdicion()">Cancelar</button>
                </div>
            </form>
        </div>

        <div *ngIf="showAddForm" class="container mt-4">
            <form (ngSubmit)="agregarRol()" class="card p-4">
                <h2 class="text-center mb-4">Agregar Rol</h2>

                <div class="mb-3">
                    <label for="newIdRol" class="form-label">ID Rol:</label>
                    <input id="newIdRol" type="number" [(ngModel)]="newRole.id_rol" name="newIdRol" class="form-control"
                        required>
                </div>

                <div class="mb-3">
                    <label for="newRoleName" class="form-label">Rol:</label>
                    <input id="newRoleName" type="text" [(ngModel)]="newRole.nombreRol" name="newRoleName"
                        class="form-control" required>
                </div>

                <button type="submit" class="btn btn-primary">Agregar Rol</button>
                <button type="button" class="btn btn-secondary" (click)="cancelarAgregarRol()">Cancelar</button>
            </form>
        </div>
    </div>

    <button *ngIf="!selectedRole && !showAddForm" id="vaciarDatos" class="btn btn-primary custom-button ms-auto" (click)="mostrarFormularioAgregar()">
        <i class="fas fa-user-plus"></i> Agregar Rol
    </button>
</main>

<app-footer></app-footer>