<app-nav-jefes></app-nav-jefes>

<main>
    <div class="align-text-center">
        <div class="welcome-container">
            <img src="assets/images/Papelera.png" alt="Imagen de bienvenida" class="welcome-image">
            <h1 class="welcome-title">PAPELERA</h1>
        </div>
        <div class="search-button mt-3">
            <div class="search">
                <input type="text" placeholder="Buscar...">
                <i class="fas fa-search"></i>
            </div>
        </div>
    </div>

    <div class="header_fixed">
        <div class="search-table-container">
            <table>
                <thead>
                    <tr>
                        <th colspan="8" id="table-header">CASOS ELIMINADOS</th>
                    </tr>
                    <tr>
                        <th>MATRÍCULA</th>
                        <th>NOMBRE COMPLETO</th>
                        <th>CARRERA</th>
                        <th>TIPO DE CASO</th>
                        <th>ESTADO</th>
                        <th>FECHA DE CREACION</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let alumno of alumnosReciclaje">
                        <td>{{ alumno.matricula }}</td>
                        <td>{{ alumno.nombreCom }}</td>
                        <td>{{ alumno.carrera }}</td>
                        <td>{{ alumno.casoTipo }}</td>
                        <td>{{ alumno.casoEsta }}</td>
                        <td>{{ alumno.updatedAt | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                        <td>
                            <div class="botones-container ">
                                <button class="resta" (click)="restablecerAlumno(alumno._id)">
                                    <i class="material-icons">undo</i>
                                </button>
                                <button class="delete" (click)="eliminarAlumnoReciclado(alumno._id)">
                                    <i class="material-icons">delete</i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>





<app-footer></app-footer>
