<app-nav-secretaria></app-nav-secretaria>

<main>
    <div>
        <div class="align-text-center">
            <img src="assets/images/book.png" alt="Imagen de bienvenida" class="welcome-image">
            <h1 class="welcome-title">HISTORIAL DE ACTAS</h1>
        </div>
        <div class="search-button mt-3">
            <div class="search">
                <input type="text" placeholder="Buscar..." (keyup)="buscarActa($event)">
                <i class="fas fa-search"></i>
            </div>
        </div>
    </div>

    <div class="header_fixed">
        <div class="search-table-container">
            <table>
                <thead>
                    <tr>
                        <th colspan="8" class="table-header">ACTAS GENERADAS</th>
                    </tr>
                    <tr>
                        <th>Número Acta</th>
                        <th>Número Ordinal</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let acta of actas">
                        <td>{{ acta.number }}</td>
                        <td>{{ acta.ordinal }}</td>
                        <td>
                            <button (click)="viewPDF(acta._id)">Ver PDF</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<app-footer></app-footer>