<app-nav-secretaria></app-nav-secretaria>

<main>
    <div class="container row justify-content-center">
        <div class="card1">
            ACTA DE LA {{palabras}} SESIÓN
            <select id="tipoSesion" [(ngModel)]="tipoSesion">
                <option value="ORDINARIA">ORDINARIA</option>
                <option value="EXTRAORDINARIA">EXTRAORDINARIA</option>
            </select>
            DEL COMITE ACADEMICO DEL TECNOLOGICO DE ESTUDIOS SUPERIORES DE CHALCO TESCHA/ACTA.COM.ACAD./{{
            getCurrentDate() |
            date: 'dd-MM-yyyy' }}/{{romano}}
        </div>
 
        <div class="card">
            En la Sala de Juntas de la Dirección Académica del Edificio Bicentenario de la Independencia del Tecnológico
            de
            Estudios Superiores de Chalco “TESCHA”, ubicado en la Carretera Federal México-Cuautla s/n y Carretera
            Chalco-Miraflores, La Candelaria Tlapala, Chalco, Estado de México, siendo las
            <input type="number" [(ngModel)]="currentTime.hour" placeholder="13" style="width: 80px;">
            :
            <input type="number" [(ngModel)]="currentTime.minute" placeholder="25" style="width: 80px;">
            del día
            <input type="number" [(ngModel)]="currentDate.day" placeholder="15" style="width: 80px;">
            de
            <input type="text" [(ngModel)]="currentDate.month" placeholder="junio" style="width: 80px;">
            de
            <input type="number" [(ngModel)]="currentDate.year" placeholder="2024" style="width: 80px;">
            se reunieron de manera virtual en segunda convocatoria, a fin de celebrar la
            {{romano}} Sesión {{tipoSesion}} del Comité Académico del Tecnológico de Estudios Superiores de Chalco:

            <!-- Remplazar aqui con lo que se trae de la base de datos -->
            <div *ngFor="let asistente of participantes">
                <label>
                    <input type="checkbox" [(ngModel)]="asistente.presente"> {{ asistente.name }},
                    <span *ngFor="let role of asistente.roles; let last = last">{{ role }}<span *ngIf="!last"> y
                        </span></span>
                </label>
            </div>
            <p> La sesión se efectuó conforme al siguiente:</p>
        </div>
        <p class="p">ORDEN DEL DIA </p>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                1. Lista de asistencia y declaratoria de quórum.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                2. Lectura y aprovacion del Orden del dia.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                3. Discución y resolución de los asuntos para los que fue citado el Comite Académico.
            </label>
        </div>
        <div class="form-check1">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                3.1 Presentación y análisis de los casos de estudiantes para los que fue citado el Comité Academico.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                4. Asuntos Generales
            </label>
        </div>

        <button class="btn btn-primary" (click)="Pdatos()">SIGUIENTE</button>
    </div>
</main>

<app-footer></app-footer>