<app-nav-secretaria></app-nav-secretaria>

<main>
    <div class="container row justify-content-center">
        <div class="card1" #Text1>
            ACTA DE LA {{palabras}} SESIÓN {{tipoSesion}} DEL COMITE ACADEMICO DEL TECNOLOGICO DE ESTUDIOS SUPERIORES DE
            CHALCO TESCHA/ACTA.COM.ACAD./{{getDia()}}-{{getMesNumero()}}-{{getAnio()}}/{{romano}}
        </div>
        <div class="card" #Text2>
            En la Sala de Juntas de la Dirección Académica del Edificio Bicentenario de la Independencia del Tecnológico
            de Estudios Superiores de Chalco “TESCHA”, ubicado en la Carretera Federal México-Cuautla s/n y Carretera
            Chalco-Miraflores, La Candelaria Tlapala, Chalco, Estado de México, siendo las {{getHora()}}:{{getMinutos()}} horas del día {{getDia()}} de {{getMes()}} de {{getAnio()}} se reunieron en primer convocatoria, a fin de celebrar la
            {{romano}} sesión {{tipoSesion}} del Comité Académico del Tecnológico de Estudios Superiores de Chalco:
            {{ getFormattedAsistentes()}}.
        </div> 
  
        <p class="card"> La sesión se efectuó conforme al siguiente:</p>
        <p class="p">ORDEN DEL DIA</p>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                1. Lista de asistencia y declaratoria de quórum.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                2. Lectura y aprobación del Orden del día.
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                3. Discusión y resolución de los asuntos para los que fue citado el Comité Académico.
            </label>
        </div>
        <div class="form-check1">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                3.1 Presentación y análisis de los casos de estudiantes para los que fue citado el Comité Académico.
            </label>
        </div>
        <div class="card">
            <table>
                <thead>
                    <tr class="card1">
                        <th scope="col">CASO</th>
                        <th scope="col">NOMBRE DEL ESTUDIANTE</th>
                        <th scope="col">CARRERA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let alumno of alumnosAceptados; let i = index">
                        <td class="p">{{'3.3.' + (i + 1 )}}</td>
                        <td>{{ alumno.nombreCom }}</td>
                        <td>{{ alumno.carrera }}</td>
                    </tr>
                </tbody>
            </table> 
        </div>
        <div style="display: flex; justify-content: center;">
            <button class="btn btn-warning" (click)="ReAlumn()" style="width: auto;">REVISIÓN POR ALUMNO INDIVIDUALMENTE </button>
        </div>
        <div class="card">
            <p>4. Asuntos generales</p>
            <textarea type="text" [(ngModel)]="inputValue" rows="6"
                            class="full-width-textarea"></textarea>

        </div>
        <div class="card">
            <p>1. LISTA DE ASISTENCIA Y DECLARATORIA DE QUÓRUM.</p>
            <p #Text3>
                Para dar inicio formal a la {{romano}} Sesión {{tipoSesion}} del Comité Académico del Tecnológico
                de Estudios Superiores de Chalco, la {{ getPresidente()}} solicito a {{getSecret()}}, hacer el pase de
                lista, informándose que existe quórum legal para la realización de la Sesión, declarándose formalmente
                instalada en primera convocatoria. 
            </p>
        </div>
        <div class="card">
            <p>
                2. LECTURA Y APROBACIÓN DEL ORDEN DEL DÍA.
            </p>
            <p #Text4>
                Para dar inicio formal a la {{romano}} sesión {{tipoSesion}} del Comité Académico del Tecnológico
                de Estudios Superiores de Chalco, la {{getPresidente()}} solicito a {{getSecret()}}, hacer el desahogo de
                la sesión, misma dio lectura al orden del día; concluida está; la {{getPresidente()}}, preguntó si existen
                comentarios a la misma.
            </p>
            <p #Text5>
                No habiendo comentarios a la misma, se pide expresen el sentido de su voto, quedando aprobado,
                manifestándose en el acuerdo siguiente.
            </p>
            <p #Text6>
                TESCHA.COM.ACAD/{{ getCurrentDate() | date: 'yyyy' }}/{{romano}}/001
            </p>
            <P #Text7>
                El Comité Académico aprobó el orden del día {{getDia()}} de {{getMes()}} de {{getAnio()}} de la {{romano}} Sesión {{tipoSesion}} 
            </P>
        </div>
        <div class="card">
            <p>
                3. DISCUSIÓN Y RESOLUCIÓN DE LOS ASUNTOS PARA LOS QUE FUE CITADO EL COMITÉ ACADÉMICO.
            </p>
            <p>
                3.1 PRESENTACIÓN Y ANÁLISIS DE LOS CASOS DE ESTUDIANTES PARA LOS QUE FUE CITADO EL COMITÉ ACADÉMICO.
            </p>
            <p #Text8>
                La {{getPresidente()}}, comentó que con fundamento legal en lo dispuesto artículo 5, Fracción V; artículo 14, del
                Decreto del Ejecutivo del Estado de México de fecha 08 de diciembre de 1998 por el que se crea el Organismo Público
                Descentralizado de Carácter Estatal denominado Tecnológico de Estudios Superiores de Chalco; los Lineamientos Académicos
                Administrativos emitidos por el TecNM para los planes 2004, 2010 y 2015 y el Reglamento de Estudiantes del TESCHA
                autorizado por la Junta Directiva en la CXII Sesión Ordinaria, celebrada el día 06 de agosto del 2018, se lleva a cabo
                la siguiente sesión.
            </p>
            <p #Text9>
                La {{getPresidente()}} pide a {{getSecret()}} de lectura a los casos para los que se citó para su análisis.
            </p>
        </div>
        <div class="card">
            <p>
                4. ASUNTOS GENERALES.
            </p>
            <p>
                La {{getPresidente()}} solicitó a {{getSecret()}} informar sobre el periodo de recepción de 
                <input type="text" [(ngModel)]="periodo"> y agendar fecha para celebrar la próxima sesión 
                <input type="text" [(ngModel)]="sesion">
            </p>
            <p></p>
            <p>
                La {{getSecret()}} informa lo siguiente:
            </p>
                <textarea type="text" [(ngModel)]="inputValue1" rows="6"
                            class="full-width-textarea"></textarea>
                <textarea type="text" [(ngModel)]="inputValue2" rows="6"
                            class="full-width-textarea"></textarea>
            <p>
                El {{getPresidente()}} preguntó si existen comentarios al respecto. No habiendo comentarios, se da por concluido.
            </p>
            <p></p> 
            <p>
                Una vez agotados los puntos de la {{romano}} sesión {{tipoSesion}} del Comité Académico del Tecnológico de Estudios
                Superiores de Chalco, siendo las {{currentDateAndTime.time }} horas, del día {{ currentDateAndTime.date }}, se da por
                concluida.
            </p>
        </div>
        <div class="card">
            <table>
                <tr *ngFor="let grupo of chunk(asistentesSeleccionados, 2)">
                    <td *ngFor="let asistente of grupo" style="width: 100px; height: 230px; text-align: center; vertical-align: middle;">
                        <p class="p" style="margin-bottom: 5px;">{{ asistente.name }}</p>
                        <p *ngFor="let role of asistente.roles; let last = last" class="p" style="margin-top: 5px; display: inline;">
                            {{ role }}<span *ngIf="!last"> y </span>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        
        <button class="btn btn-primary" (click)="generatePDF()">Generar PDF</button>

    </div> 
</main>

<app-footer></app-footer>